// RED
$color-red: #ff0000;
$color-red-lightsalmon: #ffa07a;
$color-red-salmon: #fa8072;
$color-red-darksalmon: #e9967a;
$color-red-lightcoral: #f08080;
$color-red-indianred: #cd5c5c;
$color-red-crimson: #dc143c;
$color-red-firebrick: #b22222;
$color-red-darkred: #8b0000;
// ORANGE
$color-orange: #ffa500;
$color-orange-coral: #ff7f50;
$color-orange-tomato: #ff6347;
$color-orange-orangered: #ff4500;
$color-orange-gold: #ffd700;
$color-orange-darkorange: #ff8c00;
$color-orange-saftey: #ff7900;
// YELLOW
$color-yellow: #ffff00;
$color-yellow-lightyellow: #ffffe0;
$color-yellow-lemonchiffon: #fffacd;
$color-yellow-lightgoldenrodyellow: #fafad2;
$color-yellow-papayawhip: #ffefd5;
$color-yellow-moccasin: #ffe4b5;
$color-yellow-peachpuff: #ffdab9;
$color-yellow-palegoldenrod: #eee8aa;
$color-yellow-khaki: #f0e68c;
$color-yellow-darkkhaki: #bdb76b;
// GREEN
$color-green: #008000;
$color-green-lawngreen: #7cfc00;
$color-green-chartreuse: #7fff00;
$color-green-limegreen: #32cd32;
$color-green-lime: #00ff00;
$color-green-forestgreen: #228b22;
$color-green-darkgreen: #006400;
$color-green-greenyellow: #adff2f;
$color-green-yellowgreen: #9acd32;
$color-green-springgreen: #00ff7f;
$color-green-mediumspringgreen: #00fa9a;
$color-green-lightgreen: #90ee90;
$color-green-palegreen: #98fb98;
$color-green-darkseagreen: #8fbc8f;
$color-green-mediumseagreen: #3cb371;
$color-green-seagreen: #2e8b57;
$color-green-olive: #808000;
$color-green-darkolivegreen: #556b2f;
$color-green-olivedrab: #6b8e23;
// CYAN
$color-cyan: #00ffff;
$color-cyan-lightcyan: #e0ffff;
$color-cyan-aqua: #00ffff;
$color-cyan-aquamarine: #7fffd4;
$color-cyan-mediumaquamarine: #66cdaa;
$color-cyan-paleturquoise: #afeeee;
$color-cyan-turquoise: #40e0d0;
$color-cyan-mediumturquoise: #48d1cc;
$color-cyan-darkturquoise: #00ced1;
$color-cyan-lightseagreen: #20b2aa;
$color-cyan-cadetblue: #5f9ea0;
$color-cyan-darkcyan: #008b8b;
$color-cyan-teal: #008080;
// BLUE
$color-blue: #0000ff;
$color-blue-powderblue: #b0e0e6;
$color-blue-lightblue: #add8e6;
$color-blue-lightskyblue: #87cefa;
$color-blue-skyblue: #87ceeb;
$color-blue-deepskyblue: #00bfff;
$color-blue-lightsteelblue: #b0c4de;
$color-blue-dodgerblue: #1e90ff;
$color-blue-cornflowerblue: #6495ed;
$color-blue-steelblue: #4682b4;
$color-blue-royalblue: #4169e1;
$color-blue-mediumblue: #0000cd;
$color-blue-darkblue: #00008b;
$color-blue-navy: #000080;
$color-blue-midnightblue: #191970;
$color-blue-mediumslateblue: #7b68ee;
$color-blue-slateblue: #6a5acd;
$color-blue-darkslateblue: #483d8b;
// PURPLE
$color-purple: #800080;
$color-purple-lavender: #e6e6fa;
$color-purple-thistle: #d8bfd8;
$color-purple-plum: #dda0dd;
$color-purple-violet: #ee82ee;
$color-purple-orchid: #da70d6;
$color-purple-fuchsia: #ff00ff;
$color-purple-magenta: #ff00ff;
$color-purple-mediumorchid: #ba55d3;
$color-purple-mediumpurple: #9370db;
$color-purple-blueviolet: #8a2be2;
$color-purple-darkviolet: #9400d3;
$color-purple-darkorchid: #9932cc;
$color-purple-darkmagenta: #8b008b;
$color-purple-indigo: #4b0082;
// PINK
$color-pink: #ffc0cb;
$color-pink-lightpink: #ffb6c1;
$color-pink-hotpink: #ff69b4;
$color-pink-deeppink: #ff1493;
$color-pink-palevioletred: #db7093;
$color-pink-mediumvioletred: #c71585;
// WHITE
$color-white: #ffffff;
$color-white-snow: #fffafa;
$color-white-honeydew: #f0fff0;
$color-white-mintcream: #f5fffa;
$color-white-azure: #f0ffff;
$color-white-aliceblue: #f0f8ff;
$color-white-ghostwhite: #f8f8ff;
$color-white-whitesmoke: #f5f5f5;
$color-white-seashell: #fff5ee;
$color-white-beige: #f5f5dc;
$color-white-oldlace: #fdf5e6;
$color-white-floralwhite: #fffaf0;
$color-white-ivory: #fffff0;
$color-white-antiquewhite: #faebd7;
$color-white-linen: #faf0e6;
$color-white-lavenderblush: #fff0f5;
$color-white-mistyrose: #ffe4e1;
// GRAY
$color-gray: #808080;
$color-gray-gainsboro: #dcdcdc;
$color-gray-lightgray: #d3d3d3;
$color-gray-silver: #c0c0c0;
$color-gray-darkgray: #a9a9a9;
$color-gray-dimgray: #696969;
$color-gray-lightslategray: #778899;
$color-gray-slategray: #708090;
$color-gray-darkslategray: #2f4f4f;
$color-gray-black: #000000;
// BROWN
$color-brown: #a52a2a;
$color-brown-cornsilk: #fff8dc;
$color-brown-blanchedalmond: #ffebcd;
$color-brown-bisque: #ffe4c4;
$color-brown-navajowhite: #ffdead;
$color-brown-wheat: #f5deb3;
$color-brown-burlywood: #deb887;
$color-brown-tan: #d2b48c;
$color-brown-rosybrown: #bc8f8f;
$color-brown-sandybrown: #f4a460;
$color-brown-goldenrod: #daa520;
$color-brown-peru: #cd853f;
$color-brown-chocolate: #d2691e;
$color-brown-saddlebrown: #8b4513;
$color-brown-sienna: #a0522d;
$color-brown-maroon: #800000;
