/* Extra small devices (phones, 600px and down) */
$breakpoint-small-extra: 600px;

/* Small devices (portrait tablets and large phones, 600px and up) */
$breakpoint-small: 600px;

/* Medium devices (landscape tablets, 768px and up) */
$breakpoint-medium: 768px;

/* Large devices (laptops/desktops, 992px and up) */
$breakpoint-large: 992px;

/* Extra large devices (large laptops and desktops, 1200px and up) */
$breakpoint-large-extra: 1200px;
